<p id="notice"><%= notice %></p>

<p>
  <strong>Account number:</strong>
  <%= @user_account.account_number %>
</p>

<p>
  <strong>User name:</strong>
  <%= @user_account.user_name %>
</p>

<%= link_to 'Edit', edit_user_account_path(@user_account) %> |
<%= link_to 'Back', user_accounts_path %>
